##################################
# Lab 01 - Document Intelligence #
##################################

DOC_INTELLIGENCE_ENDPOINT=<your-document-intelligence-endpoint>

# Optional. Leave blank to use the current Azure Default Credentials
DOC_INTELLIGENCE_KEY=<your-document-intelligence-key>

DOC_INTELLIGENCE_MODEL_ID=<your-document-intelligence-model-id>

# Optional. Leave blank to infer the resource name from DOC_INTELLIGENCE_ENDPOINT.
DOC_INTELLIGENCE_RESOURCE_NAME=

# Optional. Leave blank to use STORAGE_RESOURCE_GROUP.
DOC_INTELLIGENCE_RESOURCE_GROUP=

# Optional. Leave blank to infer the subscription from the current Azure credential when only one subscription is available.
STORAGE_SUBSCRIPTION_ID=

STORAGE_RESOURCE_GROUP=<your-resource-group-name>

STORAGE_LOCATION=eastus2

# Optional. Leave blank to generate a storage account name and save it to workshop/.env.
STORAGE_ACCOUNT_NAME=

#################################
# Lab 2 - Content Understanding #
#################################

CONTENT_UNDERSTANDING_ENDPOINT=<your-content-understanding-endpoint>

# Optional. Leave blank to use the current Azure Default Credentials
CONTENT_UNDERSTANDING_KEY=<your-content-understanding-key>

ANALYZER_NAME=<your-analyzer-name>

############################
# Lab 3 - Knowledge Mining #
############################

SEARCH_ENDPOINT=<your-search-endpoint>

QUERY_KEY=<your-query-key>

INDEX_NAME=<your-index-name>

STORAGE_CONTAINER_NAME=documents


########################
# Lab 4 - RAG Pipeline #
########################

FOUNDRY_ENDPOINT=<your-foundry-endpoint>

FOUNDRY_KEY=<your-foundry-key>
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4.1
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=text-embedding-3-large
AZURE_SEARCH_ENDPOINT=<your-azure-search-endpoint>
AZURE_SEARCH_KEY=<your-azure-search-key>